@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
#app {
    background: #fff;
}

.main {
    padding-top: 73px;
}

/* Home Sart */

/* Packages start */

.packages {
    padding-top: 60px;
}

h1 {
    font-size: 35px;
    text-transform: capitalize;
    font-family: 'Secular One', sans-serif;
}

.packages .package-card {
    margin-bottom: 50px;
    transition: 0.4s all;
}

.packages .package-card .img-box {
    max-height: 280px;
    overflow: hidden;
}

.packages .package-card .img-box img {
    min-width: 100%;
    min-height: 100%;
}

.packages .package-card .card-body {
    height: 170px;
    overflow: hidden;
    position: relative;
}

.packages .package-card .card-body .d-flex {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.packages .package-card .card-body h3 {
    text-transform: capitalize;
    font-family: 'Secular One', sans-serif;
}

.packages .package-card .card-body p {
    color: #555;
    font-family: 'Secular One', sans-serif;
}

.packages .package-card .card-body .btn {
    border: 2px solid #000;
    padding: 5px 15px;
    transition: 0.4s all;
    font-family: 'Secular One', sans-serif;
}

.packages .package-card .card-body .btn:hover {
    color: #fff;
    background: #000;
}

.packages .package-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

@media(min-width: 576px) {
    h1 {
        font-size: 60px;
    }
}

@media(min-width: 992px) {
    .packages {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

/* Packages end */

/* Gallery start */

.gallery {
    padding-bottom: 50px;
}

.gallery .photo-card {
    float: left;
    overflow: hidden;
    height: 250px;
    padding: 0;
    margin: 0;
    position: relative;
}

.gallery .photo-card img {
    min-width: 100%;
    min-height: 100%;
}

.gallery .photo-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.377);
    transition: 0.4s all;
    opacity: 0;
    padding: 10px;
}

.gallery .photo-card .overlay h5 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
    font-family: 'Secular One', sans-serif;
}

.gallery .photo-card:hover .overlay {
    opacity: 1;
}

.gallery .btn {
    color: #000;
    font-size: 17px;
    background: none;
    padding: 7px 25px;
    transition: 0.4s all;
    border: 2px solid #000;
    font-family: 'Secular One', sans-serif;
}

.gallery .btn:hover {
    color: #fff;
    background: #000;
}

@media(max-width: 576px) {
    .gallery .photo-card {
        width: 100%;
    }
}

@media(min-width: 576px) {
    .gallery .photo-card {
        width: 50%;
    }
}

@media(min-width: 768px) {
    .gallery .photo-card {
        width: 33.33%;
    }
}

/* Gallery End */

/* Blog Start */

.blog {
    padding-top: 50px;
    padding-bottom: 50px;
}

.blog a {
    text-decoration: none;
}

.blog .blog-card {
    transition: 0.4s all;
    margin-bottom: 32px;
}

.blog .blog-card .card-body h4 {
    transition: 0.4s all;
    color: rgb(119, 119, 119);
    font-family: 'Secular One', sans-serif;
}

.blog .blog-card .card-body p {
    font-size: 16px;
    transition: 0.4s all;
    color: rgb(119, 119, 119);
}

.blog .blog-card .card-body small {
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.blog .blog-card:hover h4 {
    color: #000;
}

.blog .blog-card:hover p {
    color: #000;
}

.blog .btn {
    color: #000;
    font-size: 17px;
    background: none;
    padding: 7px 25px;
    transition: 0.4s all;
    border: 2px solid #000;
    font-family: 'Secular One', sans-serif;
}

.blog .btn:hover {
    color: #fff;
    background: #000;
}

.blog .blog-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/* Blog End */

/* Package Show Start */

.package-show h2 {
    font-family: 'Secular One', sans-serif;
}

.package-show h6 {
    color: #555;
    font-family: 'Secular One', sans-serif;
}

.package-show .btn {
    color: #fff;
    font-size: 16px;
    padding: 6px 20px;
    background: #000;
    transition: 0.4s all;
    border: 2px solid #000;
    font-family: 'Secular One', sans-serif;
}

.package-show .btn:hover {
    color: #000;
    background: #fff;
}

.package-show .details {
    font-family: 'Secular One', sans-serif;
}

.package-show .booking-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: #cfcdcdc9;
}

.package-show .booking-modal-backdrop .card {
    border-radius: 6px;
    overflow: hidden;
}

.package-show .booking-modal-backdrop .card .card-header {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.package-show .booking-modal-backdrop .card .card-header h3 {
    margin-top: 6px;
    font-family: 'Secular One', sans-serif;
}

.package-show .booking-modal-backdrop .card .card-header .btn-close {
    padding: 6px 11px;
    color: #555;
    border: 0;
    background: #dfdfdf;
}

.package-show .booking-modal-backdrop .card .card-body p {
    margin-bottom: 2px;
    margin-left: 2px;
}

.package-show .booking-modal-backdrop .card .card-body .form-control:focus {
    border: 1px solid #dfdfdf
}

.package-show .booking-modal-backdrop .card .card-body .btn {
    border: 0;
    color: #000;
    padding: 6px 25px;
    background: #dfdfdf;
}

@media(max-width: 576px) {
    .package-show .booking-modal-backdrop .card {
        width: 90vw;
    }
}

@media(min-width: 576px) {
    .package-show .booking-modal-backdrop .card {
        width: 500px;
    }
}

/* Package Show End */

/* Home End */

/* About Start */

.about .card {
    border-radius: 6px;
    background: #ff4676;
}

.about .card .card-body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about .card .card-body .img-box {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
}

.about .card .card-body .content {
    color: #fff;
    font-family: 'Secular One', sans-serif;
}

@media(max-width: 576px) {
    .about .header img {
        max-width: 250px;
    }
}

@media(min-width: 576px) {
    .about .header img {
        max-width: 450px;
    }
}

/* About End */

/* Services Start */

@media(max-width: 576px) {
    .services .header img {
        max-width: 250px;
    }
}

@media(min-width: 576px) {
    .services .header img {
        max-width: 450px;
    }
}

/* Services End */

/* Gallery Start */

@media(max-width: 576px) {
    .gallery .header img {
        max-width: 250px;
    }
}

@media(min-width: 576px) {
    .gallery .header img {
        max-width: 450px;
    }
}

/* Gallery End */

/* Blog Index Start */

@media(max-width: 576px) {
    .blog-index .header img {
        max-width: 250px;
    }
}

@media(min-width: 576px) {
    .blog-index .header img {
        max-width: 350px;
    }
}

/* Blog Index End */

/* Blog Read star */

.blog-read h2 {
    font-family: 'Secular One', sans-serif;
}

.blog-read small {
    font-family: 'Secular One', sans-serif;
}

.blog-read p {
    font-size: 17px;
    line-height: 1.8rem;
}

.blog-read .details {
    line-height: 1.8rem;
}

.blog-read .no-data img {
    height: 200px;
}

.blog-read .no-data h5 {
    font-family: 'Secular One', sans-serif;
    margin-bottom: 15px;
}

.blog-read .no-data .btn {
    color: #fff;
    padding: 6px 25px;
    background: #f9a826;
    font-family: 'Secular One', sans-serif;
}

/* Blog Read end */

/* Contact Start */

.contact form .form-group p {
    margin-bottom: 3px;
    margin-left: 2px;
}

.contact form .form-group .form-control {
    font-size: 16px;
    min-height: 45px;
    font-family: 'Secular One', sans-serif;
}

.contact form .form-group .form-control:focus {
    border: 1px solid #f9a826;
}

.contact form .btn {
    color: #fff;
    padding: 6px 25px;
    font-size: 17px;
    background: #f9a826;
    font-family: 'Secular One', sans-serif;
}

@media(max-width: 576px) {
    .contact .header img {
        max-width: 250px;
    }
}

@media(min-width: 576px) {
    .contact .header img {
        max-width: 500px;
    }
}

/* Contact End */

/* Auth Start */

.auth {
    width: 100%;
    min-height: 100vh;
    margin-top: 50px;
}

.auth .card {
    border-radius: 8px;
}

.auth .card .card-header {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.auth .card .card-header h4 {
    font-weight: 900;
    margin-bottom: 0;
    font-family: 'Secular One', sans-serif;
}

.auth .card .card-body {
    color: #000;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 40px;
}

.auth .card .card-body .form-control {
    color: #000;
}

.auth .card .card-body .form-control:focus {
    border: 1px solid #000;
}

@media(max-width: 576px) {
    .auth .card {
        width: 90vw;
    }
}

@media(min-width: 576px) {
    .auth .card {
        width: 500px;
    }
}

/* Auth End */

/* Footer Start */

.footer {
    margin-top: 50px;
    background: #eeebeb5d;
}

.footer h5 {
    font-family: 'Courier New', Courier, monospace;
}

.footer img {
    height: 40px;
}

.footer a {
    color: #000;
    display: block;
}

/* Footer End */

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}